.search-books {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 2em 0%;
  align-items: center;
}
.search-books--form {
  display: flex;
  width: 100%;
}
.search-books--form .form-group {
  margin: 0 5% 0 0;
}
.search-books--form input {
  min-width: 80%;
  border: #737473 solid 2px;
}
.search-books--form input:focus {
  box-shadow: none;
  border: #005fcb solid 2px;
}

.search-books--form button {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0.8%;
  align-self: center;
  border: 2px solid #919191;
  color: black;
}

.search-books--form button:focus {
  color: #005fcb;
  background: #fefffe;
  border: #005fcb solid 2px;
  box-shadow: none;
}

.search-books--form button:hover {
  color: #005fcb;
  background: #fdfefd;
  border: #005fcb solid 2px;
  box-shadow: none;
}

.books-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.book {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.book--description {
  max-height: 140px;
  margin-top: 10px;
  font-size: 12px;
  overflow: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #919191;
}

.current {
  background: #000;
  color: #fff;
}

.topButtons {
  list-style: none;
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.pageNumbers {
  list-style: none;
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
}
.list {
  li button {
    padding: 0.8rem;
    margin: 0.4rem;
    background-color: transparent;
    border: 2px solid #919191;
    color: black;
    font-size: 0.9rem;
    border-radius: 2px;
    cursor: pointer;

    &[aria-current="true"] {
      background: #005fcb;
      color: #fff;
    }
    &:hover {
      background-color: white;
      border: 2px solid #005fcb;
      color: #005fcb;
      font-weight: bold;
      border-radius: 3px;
    }
    &:focus {
      background-color: white;
      border: 2px solid #005fcb;
      color: #005fcb;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}
