main {
  min-height: 90vh;
}
#app-header {
}
.page {
  padding-top: 3em;
  padding-bottom: 3em;
}
#app-footer {
  text-align: center;
  background-color: #f8f9fa;
  padding: 5px 0;
}

.cover {
  margin-right: 1%;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  background-color: #fefffe;
  border: 2px solid #005fcb;
  color: #005fcb;
  /* display: none; */
}
a.skip-main:focus,
a.skip-main:active {
  color: #005fcb;
  background-color: #fefffe;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  display: block;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #005fcb;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
